### This analusis is to perform an exploratory analysis on the dataset. I.e. This data is basically to practice EDA

In [1]:
# Import all the relevant package relevant for the analysis

import pandas as pd

In [2]:
# Ingesting the data as csv call sal

sal = pd.read_csv(r"Salaries.csv")

C:\Users\ijaiyeola\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
# Checking the df to understand the data

sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [4]:
# Checking the data using the info method to discover the following:
# No. of rows
# No. of cols
# Missing values for all rows and columns

sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

### Data Cleaning Part

In [5]:
# Dropping irrelevant columns
# ID: It's typically a repetition of the default numbering
# Notes: It's basically null/missing values
# Agency: Since there's only one agency, its irrelevant
# Status: Since majority of its data are missing. 

sal.drop(['Id', 'Notes', 'Agency', 'Status'], axis=1, inplace=True)

#### Datatype conversion

In [6]:
sal.dtypes

EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
dtype: object

In [7]:
sal = sal[sal.BasePay!='Not Provided']
sal = sal[sal.EmployeeName !='Not Provided']

In [8]:
sal.dtypes

EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
dtype: object

In [9]:
# I converted some columns from object to int for calculation purposes.

sal['BasePay'] = pd.to_numeric(sal['BasePay'])
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'])
sal['OtherPay'] = pd.to_numeric(sal['OtherPay'])
sal['Benefits'] = pd.to_numeric(sal['Benefits'])

In [10]:
sal.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011

In [11]:
sal.dtypes

EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits            float64
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
dtype: object

In [12]:
# I checked for nan/null/missing values in the dataset

sal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148648 entries, 0 to 148653
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      148648 non-null  object
 1   JobTitle          148648 non-null  object
 2   BasePay           148043 non-null  float64
 3   OvertimePay       148648 non-null  float64
 4   OtherPay          148648 non-null  float64
 5   Benefits          112490 non-null  float64
 6   TotalPay          148648 non-null  float64
 7   TotalPayBenefits  148648 non-null  float64
 8   Year              148648 non-null  int64
dtypes: float64(6), int64(1), object(2)
memory usage: 11.3+ MB

In [13]:
# From the data above, there's no way a staff wouldn't BasePay will be missing, either drop or fill with 

sal['BasePay'] == 0.0

0         False
1         False
2         False
3         False
4         False
          ...
148645     True
148647     True
148648     True
148649     True
148653     True
Name: BasePay, Length: 148648, dtype: bool

### Performing EDA on the data.